service:
  name: helloAuthorize

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline # 用于离线调试

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  region: ap-northeast-2

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          method: get
          path: hello
  login:
    handler: src/login.login
    events:
      - http:
          method: post
          path: login
  userInfo:
    handler: src/user-info.useInfo
    events:
      - http:
          method: post
          path: user-info
